.top-navbar {
  background-color: #0d076a !important;
}

.top-navbar .navbar-brand {
  color: #fff;
}

.top-navbar .navbar-nav .nav-link {
  color: #fff;
}

.top-navbar .navbar-nav .nav-link:hover,
.top-navbar .navbar-nav .nav-link:focus {
  color: #a8a8a8;
}

#navbar-nav img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dropdown {
  cursor: pointer;
}

#navbar-nav {
  position: relative;
  /* background-color: green !important; */
}
.navbar-nav {
  position: absolute !important;
  right: 0 !important;
}

.navbar-toggler {
  visibility: hidden !important;
  display: none !important;
}
