.btn-blue {
  background-color: #0d076a;
  display: inline-block;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-blue:hover {
  background-color: #0056b3;
  border-radius: 5px !important;
  outline: none !important;
  color: white;
  opacity: 0.8;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.not-found-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

.not-found-message {
  font-size: 16px;
  color: #888;
}

.chart-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  zoom: 80%;
}

@media only screen and (max-width: 500px) {
  .chart-container {
    zoom: 50%;
  }
}
